<div class="card">
    <div class="card-header">
      <strong>personnal informations</strong> 
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Email</label>
          <div class="col-md-9">
            <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Enter Email.." autocomplete="email">
            <span class="help-block">Please enter your email</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-password">Password</label>
          <div class="col-md-9">
            <input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Enter Password.." autocomplete="current-password">
            <span class="help-block">Please enter your password</span>
          </div>
        </div>
      </form>
    </div>
   
  </div>
<div class="card">
    <div class="card-header">
      <strong>Credit Card</strong>
     
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
        </div>
      </div><!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="ccnumber">Credit Card Number</label>
            <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
</div>