<div class="container">
  <div class="fade-in">
    <div calss="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Modifier une carte</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div [hidden]="submitted" style="width: 400px;">
                  <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label class="col-form-label" for="idCarte">ID carte</label>
                      <input
                        type="text"
                        class="form-control"
                        id="idCarte"
                        required
                        [(ngModel)]="cartes.idCarte"
                        name="idCarte"
                      />
                    </div>

                    <div class="form-group">
                      <label class="col-form-label" for="type">Type</label>
                      <input
                        type="text"
                        class="form-control"
                        id="type"
                        required
                        [(ngModel)]="cartes.type"
                        name="type"
                      />
                    </div>

                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          required
                          [checked]="cartes.isActivate"
                          class="form-check-input"
                          name="isActivate"
                          id="isActivate"
                        />
                        voulez-vous activer ou desactiver la carte ?
                      </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
