<div class="container-fluid">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Relevé du Compte</div>
      <div class="card-body">

        <table class="table  table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>ID Operation</th>
              <th>Compte Beneficiaire</th>
              <th>Type</th>
              <th>Date</th>
              <th>Montant</th>
              <th>num Facture</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of op">
              <td>{{ p.idOperation }}</td>
              <td>{{ p.idCompteBeneficiaire }}</td>
              <td>{{ p.Type }}</td>
              <td>{{ p.Date }}</td>
              <td>{{ p.montant }}</td>
              <td>{{ p.numFacture }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>